



.bg-image{
    background-image: url("https://picsum.photos/id/684/600/400");
    height: 50vh;
    background-color: darkgray;
    }


.float-card{
  position: absolute;
  top: 35px;
  right: 20px;
}