
.font{
    font-family: 'Bebas Neue', cursive;
}

.bg-image{
    background-image: url("https://picsum.photos/id/684/600/400");
    height: 50vh;
    background-size: cover;
    background-position: center;
    }

.blk-box {
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
}

.float-card{
  position: absolute;
  top: 35px;
  right: 20px;
}

@media (max-width: 768px) {
    .disappear{
        display: none;
    }
 }


 @media (max-width: 768px) {
    .first{
       order: -2;
    }
 } 
